*{
    margin: 0;
    padding: 0;
}

/* body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.quiz-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.quiz-box{
    width: 500px;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
      /* Remove this when you have to show in your website */  
    display: ;
}

.quiz-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: rgb(206, 96, 12);
    font-weight: bold;
}

.quiz-sugestion{
    font-size: 3.4vmin;
}

.quiz-start-button{
    height: 45px;
    width: 150px;
    font-size: 15px;
    background-color: rgb(206, 96, 12);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.quiz-start-button:hover{
    background-color:rgb(181, 83, 8);
}

.question-container{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Remove this when you have to show in your website */
    display:none;
}

.question1{
    width: 400px;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: white;

}

.quiz-question{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.3vmin;
    font-weight:900;
 
}
.quiz-info{
    width:90%;
    display: flex;
    justify-content: space-between;
}
.quiz-answer{
  height: 40px;
  width: 90%;
  border: 1px solid rgb(225, 201, 170);
  border-radius: 10px;
  background-color:antiquewhite ;
}

.quiz-progress{
  position: relative;
  height: 10px;
  width: 90%;
  border: 1px solid rgb(225, 201, 170);
  border-radius: 10px;
  background-color:antiquewhite ; 
  overflow: hidden;
}

.quiz-progress::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color:rgb(206, 96, 12);
    transform: translateX(-100%);
}

.quiz-result{
    width: 500px;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
     /* Remove this when you have to show in your website */
    display:none ; 
}

.quiz-scored{
    width: 250px;
    border-radius:10px ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color:antiquewhite ;
}

.quiz-message{
    font-size: 3.4vmin;
    color: rgb(206, 96, 12) ;
}

.quiz-restart-button{
    height: 45px;
    width: 150px;
    font-size: 15px;
    background-color: rgb(206, 96, 12);
    border: none;
    color: white;
    border-radius: 20px;
}

.quiz-restart-button:hover{
    background-color:rgb(181, 83, 8);
}